<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
@*     <div class="mb-3">
        <label>@Localizer["Category"]:</label>
        <div>
            <InputText class="form-control"
                       @bind-Value="@AcademicProgramDTO.CategoryName"
                       placeholder="@Localizer["EnterCategory"]" />
            <ValidationMessage For="@(() => AcademicProgramDTO.CategoryID)" />
        </div>
    </div> *@
    <div class="mb-3">
        <label>@Localizer["Category"]:</label>
        <div>
            <select class="form-select" @bind="AcademicProgramDTO.CategoryID">
                <option value="0">@Localizer["EnterCategory"]</option>
                @if (categories is not null)
                {
                    @foreach (var category in categories)
                    {
                        <option value="@category.CategoryID">@category.Name</option>
                    }
                }
            </select>
            <ValidationMessage For="@(() => AcademicProgramDTO.CategoryID)" />
        </div>
    </div>

    <div class="mb-3">
        <label>@Localizer["Institution"]:</label>
        <div>
            <select class="form-select" @bind="AcademicProgramDTO.InstitutionID">
                <option value="0">@Localizer["SelectAnInstitution"]</option>
                @if (institutions is not null)
                {
                    @foreach (var institution in institutions)
                    {
                        <option value="@institution.InstitutionID">@institution.Name</option>
                    }
                }
            </select>
            <ValidationMessage For="@(() => AcademicProgramDTO.InstitutionID)" />
        </div>
    </div>

    <div class="mb-3">
        <label>@Localizer["AcademicProgram"]:</label>
        <div>
            <InputText class="form-control"
                       @bind-Value="@AcademicProgramDTO.Name"
                       placeholder="@Localizer["EnterAcademicProgramName"]" />
            <ValidationMessage For="@(() => AcademicProgramDTO.Name)" />
        </div>
    </div>



@*     <div class="mb-3">
        <InputImg Label=@Localizer["Image"] ImageSelected="ImageSelected" ImageURL="@imageUrl" />
    </div> *@


    <button class="btn btn-primary" type="submit">@Localizer["SaveChanges"]</button>
    <button class="btn btn-success" @onclick="ReturnAction">@Localizer["Return"]</button>
</EditForm>

