@page "/institutions"

<h3>@Localizer["Institutions"]</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/institutions/create">@Localizer["New"] @Localizer["Institution"]</a>
</div>

<GenericList MyList="Institutions">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Localizer["Institution"]</th>
                    <th># @Localizer["AcademicPrograms"]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var institution in Institutions!)
                {
                    <tr>
                        <td>
                            @institution.Name
                        </td>
                        <td>
                            @institution.AcademicProgramsCount
                        </td>

                        <td>
                            <a class="btn btn-warning" href="/institutions/edit/@institution.InstitutionID">@Localizer["Edit"]</a>
                            <button class="btn btn-danger" @onclick=@(() => DeleteAsync(institution))>@Localizer["Delete"]</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>





